---
import Config from '@/store/config'
const config = Config.getConfig()
const content = config.quoteCardContent
const source = config.quoteCardSource
const cover = config.cover
---
<div id="cover" class="cover card-width">
    <!-- quote card -->
    <div class=" w-96 bg-[--card-background-color] shadow-lg absolute bottom-[-70px] left-20 rounded-2xl quote-card">
        <div class="text-center m-8">
            <!-- content -->
            <div id="content" class=" font-normal text-lg italic mt-4 mb-8 relative min-h-24 flex justify-center items-center text-[--font-quote-color]" >
                { content }
            </div>
            <!-- source -->
            <div class=" text-sm text-[--font-quote-source-color]">
                { source }
            </div>
        </div>
    </div>
    <!-- mask -->
    <div class="relative w-full h-full text-[--font-mask-color] flex-col bg-[--bg-mask-color] visible lg:invisible rounded-2xl">
        <div class=" absolute bottom-5 md:bottom-10 left-5 right-5 md:left-10 font-semibold text-xl">
            <div>
                { content }
            </div>
            <div class=" text-base mt-2 text-[--font-mask-sub-color]">
                { source }
            </div>
        </div>
    </div>
</div>

<script define:vars={{cover}}>
    document.addEventListener('astro:page-load',()=>{
        document.getElementById('cover') && (document.getElementById('cover').style.backgroundImage = `url('${cover}')`)
    })
</script>

<style>
.cover{
    background-size: cover;
    background-position: center;
    @apply bg-gray-300 my-4 md:my-6 rounded-2xl lg:mb-24 shadow-sm relative h-96 lg:h-[568px]
} 

#content:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>'),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" transform="rotate(180)"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>');
    background-position: 20% 20%, 80% 80%;
    background-repeat: no-repeat;
    @apply opacity-5 dark:opacity-15
}

@media (prefers-color-scheme: dark) {
    #content:before {
        opacity: 0.2;
    }
}

.quote-card{
    display: block;
}

@media screen and (max-width: 1024px){
    .quote-card{
        display: none;
    }
}
</style>